#
# sphinx
#
name: sphinx

on:
  push:
    branches: ["main","dev"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5

    - name: Build1
      run:
        make dirhtml
      # uses: ammaraskar/sphinx-action@master

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        path: output/dirhtml

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
