#
# sphinx
#
name: sphinx

on:
  push:
    branches: ["main","dev"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Install1
      run: |
        pip install -r requirements.txt

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5

    - name: Build1
      run:
        make html
      # uses: ammaraskar/sphinx-action@master

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        path: output/html

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
